@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
    background: url(wall5.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

a{
    height:100px;
    width:100px;
    color:white;
    background-color:#005580;
    border-radius:50px;
    text-align:center;
    margin:10px;
    line-height:110px;
    box-shadow:1px 4px 2px 2px #dcdde1;
}

a i {
    transition: all 0.4s linear;
}

a:hover i{
    transform: scale(1.4);
}



